<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>従業員管理</title>
    <style>
        table, th, td {
            border: 1px solid black; /* 罫線を設定 */
            border-collapse: collapse; /* 罫線が二重にならないようにする */
            padding: 8px; /* セル内の余白 */
        }
        .error {
            color: red;
        }
    </style>
</head>
<body>
<h2>従業員登録</h2>
<form th:action="@{/employee/add}" method="post" th:object="${employeeForm}">
<table>
    <tr>
        <th>名前</th>
        <td>
            <div th:errors="*{name}" class="error">xx</div>
            <input type="text" th:field="*{name}">
        </td>
    </tr>
    <tr>
        <th>年齢</th>
        <td>
            <div th:errors="*{age}" class="error">xx</div>
            <input type="text" th:field="*{age}">
        </td>
    </tr>
    <tr>
        <th>性別</th>
        <td>
            <div th:errors="*{gender}" class="error">xx</div>
            <input type="radio" th:field="*{gender}" value="男">男
            <input type="radio" th:field="*{gender}" value="女">女
        </td>
    </tr>
    <tr>
        <th>部署</th>
        <td>
            <div th:errors="*{departmentId}" class="error">xx</div>
            <select name="departmentId">
                <option th:each="dep : ${depMap}"
                    th:field="*{departmentId}"
                    th:value="${dep.key}" 
                    th:text="${dep.value}">
                </option>
            </select>
        </td>
    </tr>
</table>
<br>
<button>登録</button>
</form>
</body>
</html>